

*{
  margin: 2;
}


.custom-markdown h1 {
    font-size: 1.8em; 
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .custom-markdown h2 {
    font-size: 1.5em; 
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .custom-markdown h3 {
    font-size: 1.2em; 
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  
/* Styling for all <a> tags */
.custom-markdown a {
   /* Set your desired color */
  /* Add underline to links */

  color: darkcyan;
}

.custom-markdown a:hover{
  color: rgb(93, 93, 236);
  text-decoration: underline;
}

.custom-markdown ul {
  list-style-type: disc; /* This will create filled circle bullet points */
  padding-left: 20px; /* This adds some space to the left of the bullet points */
}

.custom-markdown li {
  margin-bottom: 10px; /* This adds some space below each bullet point */
}

.custom-markdown hr{
  color: rgb(93, 93, 236);
}
